/* Hb and nvb codes / Author: Jayface / Website: jayface.com / Version: 1.05. / 2025-06-14 //
/* Hid checkbox */
#my-menu-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  visibility: hidden;
  z-index: -1;
}

/* Hb icon */
.my-hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 40px;
  height: 21px;
  z-index: 1100;
  align-self: center;
  margin-top: -1px;
}

/* Hb lines */
.my-hamburger span {
  display: block;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.my-hamburger:hover span {
  background-color: #2365AD;
}

/* Navbar line */
#my-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0em;
    z-index: 1000;
}

/* body top-pad */
body {
  padding-top: 50px;
}

/* Menu desktop */
.my-menu {
  display: flex;
  gap: 1.5em;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.my-menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Mobil screen */
@media (max-width: 768px) {
  .my-hamburger {
    display: flex;
	margin-left: auto;
  }

  /* Menu hid */
  .my-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.95);
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    z-index: 900;
  }

  /* Checkbox - menu */
  #my-menu-toggle:checked + .my-hamburger + .my-menu {
    display: flex;
  }
  .logo {
    margin-top: -4px;
	display: none;
  }
}

/* Links base */
.my-menu li a {
  color: #DCDCDC;
  text-decoration: none;
  font-weight: bold;
}

/* Hoover - white */
.my-menu li a:hover,
.my-menu li a:focus {
  color: #FFFFFF; /* világos kék */
  text-decoration: none;
}

/* Katt - grey */
.my-menu li a:active {
  color: #6c757d;
  text-decoration: none;
}

.logo {
  font-size: 1em;
  font-weight: bold;
  color: #DCDCDC;
  font-style: italic;
}
